<div class="homepage">
    <div class="navbar">
        <h1>{{title}}</h1>
        <form action="/delete_all" method="post" class="del-all">
            <button class="del-all-btn" type="submit" class="del-btn">{{deleteall}}</button>
        </form>
        <span>
            <h3>{{user}}</h3>
            <h3><a href="/logout">{{logout}}</a></h3>
        </span>
    </div>

    <div class="body">
        <div class="home-div">
            <h1>{{newnote}}</h1>
            <form action="/" method="post" class="home-form">
                <input class="title-input" type="text" name="title" placeholder="{{placeholdertitle}}" required />
                <textarea class="body-input" type="text" name="body" placeholder="{{placeholdernote}}" required></textarea>
                <button class="new-note-btn" type="submit">{{add}}</button>
            </form>

            {{#if message}}
                <span><h3>{{message}}</h3></span>
                <a href="/">OK</a>
            {{/if}}
        </div>

        <ul class="notes">
            {{#if notes}}
                {{#each notes}}
                    <li class="note {{this.title}}">
                        <form class="note-form" action="/delete/{{this._id}}" method="post">
                            <div class="note-header">
                                <h1 class="note-title">{{this.title}}</h1>
                                <button type="submit" class="note-del-btn">X</button>
                            </div>
                            <p class="note-body">{{this.body}}</p>
                        </form>
                    </li>
                {{/each}}
            {{/if}}
        </ul>
    </div>
</div>